.idea/

*.swp
*.swo
data
hetero_data
standard_grid
graph_model
deployed
*.pk
*.pyc
*.ipynb

results
output
CMU-Multimodal-SDK
*.sif
.*.pkl
credentials.json
token.json

csvs
cmumosi

outputs
vad*
VAD*
voice_data*

factorized
.vscode